.app {
    font-family: 'Open Sans';
    background-color: #F3F7FA;
    min-height: calc(100vh - 100px);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 420px;
}